<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pluginConfiguration" type="Host.App.PluginConfigurationSection, Host.App"/>
  </configSections>

  <pluginConfiguration>
    <plugins>
      <add description="File Watcher" baseDirectory="apps\Plugin.FileWatcher" appConfigFile="Plugin.FileWatcher.dll.config" assemblyName="Plugin.FileWatcher" typeName="Plugin.FileWatcher.FileWatcherService" />
      <add description="HTTP Server" baseDirectory="apps\Plugin.HttpServer" appConfigFile="Plugin.HttpServer.dll.config" assemblyName="Plugin.HttpServer" typeName="Plugin.HttpServer.HttpService" />
    </plugins>
  </pluginConfiguration>
</configuration>
