<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="applicationConfiguration" type="Host.App.ApplicationConfigurationSection"/>
  </configSections>

  <ApplicationConfiguration>
    <applications>
      <application description="" baseDirectory="" configurationFile="" assemblyName="" typeName="" />
    </applications>
  </ApplicationConfiguration>
</configuration>